{% extends 'base.html.twig' %}
{% block body %}

    
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in cartItem %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTol61n1Nun3bdo2sBU7Efo6LBEp0TRYMay5A&usqp=CAU" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                {# <h3 class="fw-bolder"> {{ ci.getBrand().getName() }} </h3> #}
                                <h6 class="fw-bolder"> {{ dump(item) }} </h6>
                                <!-- Product price-->
                                {# <h6> {{ pr.getPrice()|format_currency('PLN', locale='pl') }} </h6> #}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            {# <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {{ path('cart_add',{'prodId': pr.getId()}) }} ">Add to cart</a></div> #}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
