<ul>
    <a href = "{{ path('cart_show') }}" class="btn btn-outline-dark" type="button" > 
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill"> {{ numberOfProductsInCart }} </span>
    </a>
</ul>