{% extends 'base.html.twig' %}
{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for pr in paginator.results %}
                <div class="col mb-5">
                    <div class="card border border-dark h-100">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTol61n1Nun3bdo2sBU7Efo6LBEp0TRYMay5A&usqp=CAU" 
                            alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTol61n1Nun3bdo2sBU7Efo6LBEp0TRYMay5A&usqp=CAU" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h3 class="fw-bolder"> {{ pr.getBrand().getName() }} </h3>
                                <h6 class="fw-bolder"> {{ pr.getName() }} </h6>
                                <h6> {{ pr.getPrice()|format_currency('PLN', locale='pl') }} </h6>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href=" {{ path('cart_add',{'prodId': pr.getId()}) }} ">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "pagination/paginator.html.twig" %}
{% endblock %}
